%div.container-type-1
  
  %h2 Check your Position
  = form_for(:queue, :url => "/queue") do |f|
    %div.input-container
      = f.label "student #"
      = f.text_field :student_number
    = f.submit "find", :class => 'admin-button-type-1'